@font-face {
  font-family: Actay;
  src: url(../fonts/Actay/Actay-Regular.otf);
}
@font-face {
  font-family: Actay-Wait;
  src: url(../fonts/Actay/ActayWide-Bold.otf);
}
.cart {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 0 6.125vw;
}
.cart > h1 {
  font-family: Actay-Wait;
  font-size: 48px;
  font-weight: 700;
  line-height: 61px;
}
.cart > .hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background: rgb(123, 255, 90);
  height: 60px;
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}
.cart > .hr > p:nth-child(1) {
  margin-left: 20px;
}
.cart > .hr > p:nth-child(2) {
  margin-left: 45vw;
}
.cart > .hr > p:nth-child(3) {
  margin-left: 6vw;
}
.cart > .hr > p:nth-child(4) {
  margin-left: 4.5vw;
}
.cart > .hr div {
  margin-left: calc(50% - 190px);
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
}
.cart > .cardList {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.cart > .cardList .card {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.cart > .cardList .card > div:nth-child(1) {
  margin: 0 41px;
  align-self: center;
}
.cart > .cardList .card > div:nth-child(1) input[type=checkbox] {
  display: none;
}
.cart > .cardList .card > div:nth-child(1) input[type=checkbox] + label {
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
}
.cart > .cardList .card > div:nth-child(1) input[type=checkbox]:checked + label {
  background-color: #7BFF5A;
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.cart > .cardList .card > img {
  width: 170px;
  height: 170px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-right: 40px;
}
.cart > .cardList .card > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 170px;
  width: 430px;
}
.cart > .cardList .card > div:nth-child(3) > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.cart > .cardList .card > div:nth-child(3) .del {
  color: red;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.cart > .cardList .card > div:nth-child(3) > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}
.cart > .cardList .card > div:nth-child(3) > div:last-child img {
  width: 50px;
  height: 50px;
}
.cart > .cardList .card > p {
  font-family: Actay-Wait;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  align-self: flex-start;
}
.cart > .cardList .card > div:nth-child(5) {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 120px;
}
.cart > .cardList .card input[type=number] {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.cart > .cardList .card input[type=number]::-moz-placeholder {
  font-family: Actay;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding: inherit;
}
.cart > .cardList .card input[type=number]::placeholder {
  font-family: Actay;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding: inherit;
}
.cart > .cardList .card .numberBTN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}
.cart > .cardList .card .numberBTN button {
  -webkit-mask-image: url(../img/arrowBotom.svg);
  mask-image: url(../img/arrowBotom.svg);
  width: 11px;
  height: 19px;
  background: #000;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 11px 19px;
          mask-size: 11px 19px;
  cursor: pointer;
}
.cart > .cardList .card .numberBTN > button:first-child {
  transform: rotate(180deg);
}
.cart > .cardList .empty {
  padding: 50px 20px;
}
.cart > .cardList .empty div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;
  margin-left: 155px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.cart > .cardList .empty div:hover {
  border: 2px solid rgb(123, 255, 90);
}
.cart > .cardList .choosePVZ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.cart > .cardList .choosePVZ .pvz {
  width: 757px;
  height: 304px;
  overflow-y: scroll;
  box-sizing: border-box;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.cart > .cardList .choosePVZ .pvz p {
  margin: 10px 20px;
  padding: 12px 24px;
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.cart > .cardList .choosePVZ .pvz::-webkit-scrollbar {
  width: 0;
}
.cart > .cardList .choosePVZ .type {
  width: 757px;
  box-sizing: border-box;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.cart > .cardList .choosePVZ .type > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.cart > .cardList .choosePVZ .type > div > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.cart > .cardList .choosePVZ .type > div > div input[type=checkbox] {
  display: none;
}
.cart > .cardList .choosePVZ .type > div > div input[type=checkbox] + label {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52px;
  height: 34px;
  border: #000 solid 5px;
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 17px;
}
.cart > .cardList .choosePVZ .type > div > div input[type=checkbox] + label div {
  transition: 0.3s;
  width: 17px;
  height: 17px;
  border: #7BFF5A solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
}
.cart > .cardList .choosePVZ .type > div > div input[type=checkbox]:checked + label {
  border-color: #7BFF5A;
}
.cart > .cardList .choosePVZ .type > div > div input[type=checkbox]:checked + label div {
  margin-left: 19px;
}
.cart > .cardList .choosePVZ h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 20px 5px 20px;
  border-bottom: 2px solid #000;
}
.cart > .cardList .accept {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px 20px;
}
.cart > .cardList .accept > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart > .cardList .accept > div h2 {
  width: 300px;
  padding: 12px 23px;
  margin-bottom: -30px;
  z-index: 4;
  font-family: Actay-Wait;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  background: rgb(220, 254, 203);
}
.cart > .cardList .accept > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 20px;
  width: 400px;
  height: 140px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.cart > .cardList .accept > div > div p > span:first-child {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.cart > .cardList .accept > div > div p > span:last-child {
  font-family: Actay-Wait;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.cart > .cardList .accept > div > div input[type=checkbox] {
  display: none;
}
.cart > .cardList .accept > div > div input[type=checkbox] + label {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52px;
  height: 34px;
  border: #000 solid 5px;
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 17px;
}
.cart > .cardList .accept > div > div input[type=checkbox] + label div {
  transition: 0.3s;
  width: 17px;
  height: 17px;
  border: #7BFF5A solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
}
.cart > .cardList .accept > div > div input[type=checkbox]:checked + label {
  border-color: #7BFF5A;
}
.cart > .cardList .accept > div > div input[type=checkbox]:checked + label div {
  margin-left: 19px;
}
.cart > .cardList .accept > div > div:nth-child(2) {
  padding-top: 34px;
}
.cart > .cardList h1 {
  font-family: Actay-Wait;
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
}
.cart > .cardList::-webkit-scrollbar {
  width: 0;
}
.cart > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #000;
  padding-left: 40px;
}
.cart > footer > div:first-child button {
  height: 50px;
  box-sizing: border-box;
  border-radius: 40px;
  margin-right: 20px;
  padding: 0 10px;
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.cart > footer > div:first-child > button:first-child {
  color: white;
  background: rgb(123, 255, 90);
  border: 2px solid rgb(123, 255, 90);
}
.cart > footer > div:first-child > button:first-child:hover {
  border: 2px solid rgb(84, 174, 62);
  background: rgb(123, 255, 90);
}
.cart > footer > div:first-child > button:first-child:active {
  background: rgb(84, 174, 62);
}
.cart > footer > div:first-child > button:last-child {
  background: none;
}
.cart > footer > div:first-child > button:last-child:hover {
  border: 2px solid rgb(123, 255, 90);
}
.cart > footer > div:first-child > button:last-child:active {
  background: rgb(123, 255, 90);
}
.cart > footer p {
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.cart > footer .smoll-p {
  font-family: Actay;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: Actay;
}
*:focus {
  outline: none;
}

body {
  background-color: #F9F9F9;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25vw;
  background: rgb(255, 255, 255);
}
header .logo {
  width: 179.53px;
  height: 70px;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
}
header > div:first-child {
  gap: 2.34vw;
}
header > div:first-child a:hover {
  color: #7BFF5A;
}
header .noAuth {
  gap: 2.7vw;
}
header .noAuth > a:first-child {
  background: rgba(117, 255, 52, 0.25);
  padding: 11px 21px;
}
header .noAuth > a:first-child:hover {
  background: rgb(116, 255, 52);
}
header .noAuth > a:last-child {
  background: rgb(123, 255, 90);
  padding: 11px 21px;
}
header .noAuth > a:last-child:hover {
  background: rgb(147, 254, 97);
}
header .Auth {
  gap: 1vw;
}
header .Auth a {
  width: 55px;
  height: 55px;
}
header .Auth a img {
  width: 100%;
  height: 100%;
}

.index {
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.index .line {
  position: absolute;
  height: 100%;
  right: 50%;
  top: 0;
}
.index > .noClick {
  height: 100%;
  width: 150vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
.index > .noClick.click {
  transform: translateX(-50vw);
}
.index .doing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50vw;
}
.index .doing div {
  box-sizing: border-box;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 36px;
  background: rgb(232, 254, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 9px 23px 45px 23px;
  width: 30.83vw;
  height: 20vw;
}
.index .doing div h1 {
  font-family: Actay-Wait;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.index .doing div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.index .advantages-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
}
.index .advantages-wrap .advantages {
  width: 30.83vw;
  height: 42.29vw;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 36px;
  background: rgb(220, 254, 203);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index .advantages-wrap .advantages h1 {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 10px 20px 0;
  border-top: none;
  font-family: Actay-Wait;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}
.index .advantages-wrap .advantages h2 {
  font-family: Actay-Wait;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.index .advantages-wrap .advantages p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.index .advantages-wrap .advantages img {
  width: 55px;
  transition: 0.3s;
}
.index .advantages-wrap .advantages img:hover {
  transform: translateX(10px);
}
.index .postman {
  height: 100%;
}

.galary {
  padding: 50px 6.25vw 0;
  position: relative;
  overflow: hidden;
}
.galary .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.125vw;
}
.galary .header .search {
  width: 43.125vw;
  height: 100%;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.galary .header .search input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 98%;
  padding-top: 6px;
  padding-left: 21px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search button {
  background: none;
  border: none;
  width: 2vw;
  height: 2vw;
  padding-right: 10px;
}
.galary .header .search button img {
  height: 100%;
  width: 100%;
}
.galary .header .sort {
  height: 100%;
  padding: 0 18px;
  background-color: #F9F9F9;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .sort .green {
  color: rgb(123, 255, 90);
}
.galary .listStuff {
  position: relative;
  margin-top: 62px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 3.125vw;
  width: 100%;
  box-sizing: border-box;
}
.galary .listStuff .card {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.12vw;
  background-color: #F9F9F9;
  padding: 20px;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 43px;
}
.galary .listStuff .card > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 1.23vw;
}
.galary .listStuff .card > div:first-child > div:first-child {
  width: 10.4vw;
  height: 10.4vw;
  border: #000 solid 2px;
  border-radius: 13%;
}
.galary .listStuff .card > div:first-child > div:first-child img {
  height: 100%;
  width: 100%;
}
.galary .listStuff .card > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child .img {
  width: 2.6vw;
  height: 2.6vw;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child .img img {
  height: 100%;
  width: 100%;
}
.galary .listStuff .card > div:first-child > div:last-child > p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 61px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > button {
  width: 7.23vw;
  height: 2.6vw;
  background-color: #7BFF5A;
  border-radius: 40px;
  border: #7BFF5A solid 2px;
  color: #F9F9F9;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.galary .listStuff .card > div:first-child > div:last-child > button:hover {
  box-shadow: 0px 5px 20px 0px rgb(123, 255, 90);
}
.galary .listStuff .card > div:first-child > div:last-child > button:active {
  border: #000 solid 2px;
}
.galary .listStuff .card > div:last-child {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .eleps1 {
  position: absolute;
  width: 1194px;
  height: 1194px;
  left: 1044px;
  top: -136px;
  filter: blur(400px);
  background: rgb(220, 254, 203);
  z-index: -1;
}
.galary .eleps2 {
  position: absolute;
  width: 1194px;
  height: 1194px;
  left: -597px;
  top: 483px;
  filter: blur(400px);
  background: rgb(123, 255, 90);
  z-index: -1;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
.login .header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.login .header > div:first-child {
  display: flex;
  flex-direction: row;
  margin-top: 4.375vw;
}
.login .header > div:first-child h1 {
  font-size: 3rem;
  font-family: Actay-Wait;
  font-weight: 700;
  line-height: 61px;
}
.login .header > div:first-child h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  margin-top: -10px;
}
.login .header > div:first-child > div:last-child {
  display: flex;
  align-items: start;
  margin-left: 20px;
}
.login .header > div:first-child input[type=checkbox] {
  display: none;
}
.login .header > div:first-child input[type=checkbox] + label {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52px;
  height: 34px;
  border: #000 solid 5px;
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 17px;
}
.login .header > div:first-child input[type=checkbox] + label div {
  transition: 0.3s;
  width: 17px;
  height: 17px;
  border: #7BFF5A solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
}
.login .header > div:first-child input[type=checkbox]:checked + label {
  border-color: #7BFF5A;
}
.login .header > div:first-child input[type=checkbox]:checked + label div {
  margin-left: 19px;
}
.login .header > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.login .header > div:last-child h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.login .header > div:last-child a {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  font-family: Actay-Wait;
}
.login form {
  padding: 0 3.25vw 0 6.25vw;
  box-sizing: border-box;
  width: 42vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form input {
  height: 3.7vw;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 40px;
  background: rgb(255, 255, 255);
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input::-moz-placeholder {
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input::placeholder {
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input:not(input[type=submit]), .login form input:not(input[type=checkbox]) {
  width: 100%;
  padding: 0 3.54vw;
}
.login form input[type=submit] {
  padding: 20px 0;
  width: 60%;
}
.login form > a {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  margin-top: 30px;
  float: left;
}
.login form .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.login form .checkbox input[type=checkbox] {
  display: none;
}
.login form .checkbox input[type=checkbox] + label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 7px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 30px;
}
.login form .checkbox input[type=checkbox] + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
}
.login form .checkbox input[type=checkbox]:checked + label::before {
  background-color: #7BFF5A;
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.login > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 58vw;
  background-color: #7BFF5A;
  padding: 0 2.6vw;
  box-sizing: border-box;
}
.login > div:last-child div {
  width: 100%;
  height: 35vw;
}
.login > div:last-child div img {
  height: 100%;
  width: 100%;
}

.LcabUser {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 6.125vw;
  height: 90vh;
  width: -moz-fit-content;
  width: fit-content;
}
.LcabUser > div {
  display: flex;
  flex-direction: column;
}
.LcabUser > div:first-child > img {
  align-self: center;
  width: 13.64vw;
  height: 13.64vw;
}
.LcabUser .user {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 11px;
  gap: 5px;
}
.LcabUser > div:first-child > p {
  font-family: Actay-Wait;
  font-size: 30px;
  font-weight: 700;
  line-height: 80%;
  margin-bottom: 30px;
}
.LcabUser > div:first-child > button {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7px;
  margin-bottom: 10px;
  gap: 5px;
  width: 260px;
  height: 50px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.LcabUser .userFunc {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 10px;
}
.LcabUser .userFunc div {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px 20px;
  width: 13.54vw;
}
.LcabUser > div:last-child > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  align-self: center;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.LcabProd {
  display: flex;
}
.LcabProd .LcabHide {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  height: 100vh;
  z-index: 4;
  left: -20vw;
  top: 0;
  background-color: #d8fbc8;
  transition: 0.6s;
}
.LcabProd .LcabHide > section {
  padding-top: 10px;
}
.LcabProd .LcabHide > div {
  -webkit-mask-image: url(../img/arrowBotom.svg);
  mask-image: url(../img/arrowBotom.svg);
  width: 33px;
  height: 19px;
  transform: rotate(-90deg);
  background: #000;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  margin-top: 70px;
}
.LcabProd .LcabHide:hover {
  left: 0;
}
.LcabProd .LcabHide:hover > div {
  transform: rotate(90deg);
}
.LcabProd .miShop {
  height: 90vh;
  width: 30vw;
  box-sizing: border-box;
  border-right: #000 solid 2px;
  display: flex;
  flex-direction: column;
  padding: 28px 6.125vw 0;
}
.LcabProd .miShop > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}
.LcabProd .miShop > div:not(div:first-child) {
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  margin-top: 20px;
}
.LcabProd .miShop > div:not(div:first-child):hover {
  background: #7BFF5A;
}
.LcabProd .redactShop {
  height: 300vh;
  width: 43vw;
  box-sizing: border-box;
  border-right: #000 solid 2px;
  display: flex;
  flex-direction: column;
  padding: 28px 6.125vw 0;
}
.LcabProd .redactShop > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}
.LcabProd .redactShop > div:first-child > div {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  background: rgb(232, 254, 203);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 55px;
}
.LcabProd .redactShop > div:not(div:first-child) {
  font-family: Actay-Wait;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  margin-top: 20px;
}
.LcabProd .redactShop > div:not(div:first-child):hover {
  background: #7BFF5A;
}
.LcabProd .redactShop .active {
  background-color: #7BFF5A;
}
.LcabProd .readactPanel {
  font-size: 24px;
  width: 100%;
  font-family: Actay-Wait !important;
}
.LcabProd .readactPanel .containerPanel {
  padding: 40px;
}
.LcabProd .readactPanel .containerPanel .title {
  font-family: Actay-Wait;
  text-align: center;
}
.LcabProd .readactPanel .containerPanel .input {
  width: 830px;
  margin: 0 auto;
}
.LcabProd .readactPanel .containerPanel .input p {
  font-family: Actay-Wait;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  text-align: center;
  background-color: white;
  z-index: 5;
  position: relative;
}
.LcabProd .readactPanel .containerPanel .input input {
  z-index: 0;
  width: 830px;
  transform: translateY(-14px);
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 15px 30px 10px 30px;
}
.LcabProd .readactPanel .containerPanel .input input::-moz-placeholder {
  color: rgb(134, 134, 134);
  font-family: Actay;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: justify;
}
.LcabProd .readactPanel .containerPanel .input input::placeholder {
  color: rgb(134, 134, 134);
  font-family: Actay;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: justify;
}
.LcabProd .readactPanel .containerPanel .flex-input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.LcabProd .readactPanel .containerPanel .btn {
  border: none;
  color: white;
  background-color: #7BFF5A;
  border-radius: 40px;
  padding: 12px 65px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
  margin: 0 auto;
  font-family: Actay-Wait;
}
.LcabProd .readactPanel .containerPanel .btn:hover {
  color: white;
  border: 1px solid #54AE3E;
}
.LcabProd .readactPanel .containerPanel .btn:active {
  background-color: #54AE3E;
}
.LcabProd .readactPanel .containerPanel .grid-input {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.LcabProd .readactPanel .containerPanel .grid-input .input-g p {
  font-family: Actay-Wait;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  text-align: center;
  background-color: white;
  z-index: 5;
  position: relative;
  text-align: center;
}
.LcabProd .readactPanel .containerPanel .grid-input .input-g input {
  z-index: 0;
  transform: translateY(-14px);
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 15px 30px 10px 30px;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .input-g {
  margin: 0 !important;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .input-g input {
  z-index: 0;
  transform: translateY(-14px);
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 15px 30px 10px 30px;
  width: 100% !important;
}
.LcabProd .readactPanel .containerPanel .input-g p {
  font-family: Actay-Wait;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  text-align: center;
  background-color: white;
  z-index: 5;
  position: relative;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .pre-visible {
  margin-top: 20px;
  display: flex;
  gap: 100px;
}
.LcabProd .readactPanel .containerPanel .pre-visible .input {
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0 !important;
}
.LcabProd .readactPanel .containerPanel .pre-visible .input p {
  justify-content: space-between;
  padding: 10px 22px;
  display: flex;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .pre-visible .input input {
  width: 467px;
  transform: translateY(-21px);
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 30px 30px 14px 30px;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.12vw;
  background-color: #F9F9F9;
  padding: 20px;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 43px;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 1.23vw;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:first-child {
  width: 10.4vw;
  height: 10.4vw;
  border: #000 solid 2px;
  border-radius: 13%;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:first-child img {
  height: 100%;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > div:first-child .img {
  width: 2.6vw;
  height: 2.6vw;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > div:first-child .img img {
  height: 100%;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 61px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > button {
  width: 7.23vw;
  height: 2.6vw;
  background-color: #7BFF5A;
  border-radius: 40px;
  border: #7BFF5A solid 2px;
  color: #F9F9F9;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > button:hover {
  box-shadow: 0px 5px 20px 0px rgb(123, 255, 90);
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:first-child > div:last-child > button:active {
  border: #000 solid 2px;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card > div:last-child {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card .footer-card span {
  font-size: 20PX;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card .footer-card div {
  display: flex;
  flex-direction: column;
}
.LcabProd .readactPanel .containerPanel .pre-visible .card-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.LcabProd .readactPanel .containerPanel .info {
  font-size: 40px;
  font-family: Actay-Wait;
}
.LcabProd .readactPanel .containerPanel .btn-redact {
  margin: 0;
  margin-top: 15px;
  font-family: Actay-Wait;
}
.LcabProd .readactPanel .containerPanel .editCard {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel {
  width: 508px;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  padding: 20px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex {
  display: flex;
  align-items: center;
  gap: 22px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex .input-flex {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex .input-flex input {
  width: 260px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  padding: 10px 15px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex .input-flex input::-moz-placeholder {
  color: rgb(158, 158, 158);
  font-family: Actay;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex .input-flex input::placeholder {
  color: rgb(158, 158, 158);
  font-family: Actay;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .edit-flex .input-file {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  width: 145px;
  height: 92px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel .low-input {
  margin-top: 11px;
  width: 93%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  padding: 10px 15px;
}
.LcabProd .readactPanel .containerPanel .editCard .editPanel input {
  font-size: 24px;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card {
  transform: translateX(-30px);
  display: flex;
  flex-direction: column;
  width: 643.35px;
  height: 426.91px;
  gap: 2.12vw;
  background-color: #F9F9F9;
  padding: 20px;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 43px;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 7.23vw;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:first-child {
  width: 257px;
  height: 257px;
  border: #000 solid 2px;
  border-radius: 13%;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:first-child img {
  height: 100%;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > div:first-child .img {
  width: 64px;
  height: 64px;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > div:first-child .img img {
  height: 100%;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 61px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > button {
  padding: 15px 34px;
  background-color: #7BFF5A;
  border-radius: 40px;
  border: #7BFF5A solid 2px;
  color: #F9F9F9;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > button:hover {
  box-shadow: 0px 5px 20px 0px rgb(123, 255, 90);
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:first-child > div:last-child > button:active {
  border: #000 solid 2px;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card > div:last-child {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card .footer-card span {
  font-size: 20PX;
}
.LcabProd .readactPanel .containerPanel .editCard .previewPanel .card .footer-card div {
  display: flex;
  flex-direction: column;
}
.LcabProd .readactPanel .containerPanel .formEdit {
  box-sizing: border-box;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.LcabProd .readactPanel .containerPanel .formEdit .line {
  border: 1px solid black;
  width: 100%;
}
.LcabProd .readactPanel .containerPanel .formEdit .oneForm {
  padding: 15px 40px;
}
.LcabProd .readactPanel .containerPanel .formEdit .oneForm input {
  font-size: 24PX;
  border: none;
  width: 1000px;
}
.LcabProd .readactPanel .containerPanel .formEdit .oneForm input::-moz-placeholder {
  font-family: "Actay";
}
.LcabProd .readactPanel .containerPanel .formEdit .oneForm input::placeholder {
  font-family: "Actay";
}
.LcabProd .readactPanel .containerPanel .formEdit .oneForm p {
  font-family: Actay-Wait;
}
.LcabProd .readactPanel .containerPanel .formEdit .btn-store {
  margin: 15px 30px;
  border: 1px solid transparent;
}
.LcabProd .readactPanel .containerPanel .formEdit .btn-store:hover {
  border: 1px solid #54AE3E;
}

.under {
  text-decoration: underline;
}

.aActive {
  color: #7BFF5A;
}

.pvz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 785px;
  padding: 30px;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.pvz button {
  font-size: 24px;
  background-color: #7BFF5A;
  border-radius: 20px;
  padding: 15px;
  color: white !important;
  border: none;
  border: 1px solid transparent;
  transition: 0.3s;
}
.pvz button:hover {
  border: 1px solid #54AE3E;
}
.pvz button:active {
  background-color: #54AE3E;
}
.pvz .del {
  background-color: red !important;
}
.pvz .del:active {
  opacity: 0.7;
}
.pvz .hide {
  background-color: #4d4d4d;
  margin: 10px 0;
}
.pvz .pvz-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pvz .pvz-2 {
  margin-top: 20px;
}
.pvz .pvz-2 input {
  margin: 15px 0;
  font-size: 24px;
  border: none;
  background-color: #c3c3c3;
  padding: 10px;
  border-radius: 15px;
}
.pvz .pvz-2 form {
  display: flex;
  flex-direction: column;
}

.item-flex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pvz-3 {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
}
.pvz-3 button {
  font-size: 24px;
  background-color: #7BFF5A;
  border-radius: 20px;
  padding: 15px;
  color: white !important;
  border: none;
  border: 1px solid transparent;
  transition: 0.3s;
}
.pvz-3 button:hover {
  border: 1px solid #54AE3E;
}
.pvz-3 button:active {
  background-color: #54AE3E;
}
.pvz-3 .del {
  background-color: red !important;
}
.pvz-3 .del:active {
  opacity: 0.7;
}
.pvz-3 .hide {
  background-color: #4d4d4d;
  margin: 10px 0;
}
.pvz-3 .pvz-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pvz-3 .pvz-3 {
  margin-top: 20px;
}
.pvz-3 .pvz-3 input {
  margin: 15px 0;
  font-size: 24px;
  border: none;
  background-color: #c3c3c3;
  padding: 10px;
  border-radius: 15px;
}
.pvz-3 .pvz-3 form {
  display: flex;
  flex-direction: column;
}
.pvz-3 .pvz-3 .pvz-4 {
  width: 350px !important;
}

.store-input {
  margin: 15px 0;
  font-size: 24px;
  border: none;
  background-color: #c3c3c3;
  padding: 10px;
  border-radius: 15px;
}

.back {
  margin-right: 10px;
}

.cup {
  cursor: pointer;
}

.offer button {
  text-align: center;
  background-color: #7BFF5A;
  padding: 10px;
  border-radius: 15px !important;
  color: white;
  border: 1px solid transparent;
  transition: 0.3s;
}
.offer button:hover {
  border: 1px solid #54AE3E;
}
.offer button:active {
  background-color: #54AE3E;
}

.continue {
  border: 2px solid black !important;
  color: black !important;
}/*# sourceMappingURL=main.css.map */